<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label for="c-student_id" class="control-label col-xs-12 col-sm-2">{:__('Student_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select  id="c-student_id" class="form-control selectpicker" name="row[student_id]">
                {foreach name="StudentList" item="vo"}
                <option value="{$key}" {in name="key" value="$row.student_id"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="c-username" class="control-label col-xs-12 col-sm-2">{:__('Username')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-username" class="form-control" name="row[username]" type="text" value="{$row.username}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-lesson" class="control-label col-xs-12 col-sm-2">{:__('Lesson')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select  id="c-lesson" class="form-control selectpicker" name="row[lesson]">
                {foreach name="LessonList" item="vo"}
                <option value="{$key}" {in name="key" value="$row.lesson_id"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="c-class_room" class="control-label col-xs-12 col-sm-2">{:__('Class_room')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select  id="c-class_room" class="form-control selectpicker" name="row[class_room]">
                {foreach name="ClassRoomList" item="vo"}
                <option value="{$key}" {in name="key" value="$row.class_room"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="c-dec_lesson" class="control-label col-xs-12 col-sm-2">{:__('Dec_lesson')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-dec_lesson" class="form-control selectpicker" name="row[dec_lesson]">
                {foreach name="decLessonList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.dec_lesson"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label for="c-status" class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <div class="radio">
            {foreach name="statusList" item="vo"}
            <label for="row[status]-{$key}"><input id="row[status]-{$key}" name="row[status]" type="radio" value="{$key}" {in name="key" value="$row.status"}checked{/in} /> {$vo}</label> 
            {/foreach}
            </div>

        </div>
    </div>
    <div class="form-group">
        <label for="c-creator" class="control-label col-xs-12 col-sm-2">{:__('Creator')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-creator" class="form-control" name="row[creator]" type="number" value="{$row.creator}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
